{% load staticfiles %}

<div class="content about">
    <div id="about-text">
        <p>Roket.tv is a community of people who love fascinating videos.<p>
        <p>It's a place for anyone who wants to learn, laugh, become inspired,</p>
        <p>gain perspective, or discover something new.</p>
        <br /<br />
        <p>We hope you enjoy the Roket experience! :)</p>
        <p style="font-size: 14px; color: #e74c50;">Have a question? Check out the F.A.Q</p>
    </div>
    <ul id="about-team" class="clearfix">
        <li>
            <img src="/static/js/images/ethan.png "/>
            <div class="team-member-name">Ethan</div>
        </li>
        <li>
            <img src="/static/js/images/cam.png "/>
            <div class="team-member-name">Cam</div>
        </li>
        <li>
            <img src="/static/js/images/bennett.png "/>
            <div class="team-member-name">Bennett</div>
        </li>
    </ul>
</div>