<div class="content about">
    <div class="inner-container">
        <p>Roket.tv brings you the best new videos, every day. It's a place for video lovers who want to learn,
        laugh, cry, become inspired, or have their mind blown.</p>
        <p>At Roket.tv, we love video and the people who want to share amazing stories.</p>
        <p>Share Roket.tv with your friends:</p>

        <div class="fb-like" data-href="http://roket.tv" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>    </div>

</div>