<sidebar></sidebar>
<div class="content ng-cloak clearfix">
    <div class="post">
        <div class="video-thumbnail" ng-click="viewVideo(post.url)">
            <img src="/static/js/images/play.svg" class="play" />
            <img ng-src="{{ post.thumbnail }}" />
        </div>
        <div class="top clearfix">
            <div class="post-title">
                <h3><a href="#" ng-click="viewVideo(post.url)">{{ post.post_title }}</a></h3>
                <div class="categories" style="float:left;">
                    <div ng-repeat="category in post.categories" class="category">
                        <a href='/category/{{ category.id }}/{{ category.name }}'>{{ category.name }}</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="post-meta">
                <div class="avatar avatar-circle" ng-class="{'avatar-hide-image': !post.author.profile_image }"style="float:left;margin-right:10px;">
                    <img class="avatar-image" ng-src="{{ post.author.profile_image }}" width="50" height="50">
                    <span class="avatar-initials">{{ post.author.display_name | firstCharacter }}</span>
                </div>
                <div class="author">
                    Uploaded by
                    <a href="/profile/{{ post.author.id }}">{{ post.author.display_name }}</a>
                </div>
            </div>
            <div class="social-icons">

                <a href="https://www.facebook.com/dialog/feed?app_id=1515697715348428&display=popup&caption=Check%20out%20this%20post%20on%20Roket!&link=http://roket.tv/comments/{{ p.id }}&redirect_uri=http://roket.tv" target="_blank"><img src="http://zacktanner.me/clients/krave/facebook.svg" /></a>
                <a class="twitter-share-button" href="https://twitter.com/share/http://roket.tv/comments/{{ p.id }}"><img src="http://zacktanner.me/clients/krave/twitter.svg" /></a>
                <script>
                    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
                </script>

            </div>
        <div class="votes" ng-click="vote(post)" ng-class="{ 'voted': hasVoted(post) }">
            <span ng-hide="hasVoted(post)" style="margin-left: 3px;">&#x25B2;</span>
            <span ng-show="hasVoted(post)" style="margin-left: 3px;"><i class="fa fa-check"></i></span>
            <br />
            <div class="vote" ng-bind="post.get_num_votes">0</div>
        </div>
        <div class="comments">
            <a href="/comments/{{ post.id }}">
                <i class="fa fa-comment-o"></i>
                {{ post.get_num_replies }}
            </a>
        </div>

    </div>
    <div class="comment-section" ng-cloak>
        <textarea ng-model="comment" ng-show="user"></textarea>
        <button ng-click="submitComment()" ng-show="user">Add Comment</button>
        <div ng-hide="user" ng-controller="AuthModalCtrl"><h4>Please <a href="#" ng-click="signIn()">login</a> to comment.</h4></div>
        <br /><br />
        <div class="comment clearfix" ng-repeat="comment in post.comments">
            <div class="user-image">
                <div class="avatar avatar-circle" ng-class="{'avatar-hide-image': !comment.user.profile_image }" style="float:left;margin-right:10px;">
                    <img class="avatar-image" ng-src="{{ comment.user.profile_image }}" width="50" height="50">
                    <span class="avatar-initials">{{ comment.user.display_name | firstCharacter }}</span>
                </div>
            </div>
            <div class="comment-info">
                <strong><a href="/profile/{{ comment.user.id }}">{{ comment.user.display_name }}</a></strong> <small ng-show="comment.user.id == user.id"><a href="#" ng-click="deleteComment(comment.id)">[Delete]</a></small> <span style="color:#666">{{ comment.date_posted | date: 'short' }}</span><br />
                {{ comment.comment }}
                <div class="actions">
                    <a href="#" ng-click="replyToComment(comment)" ng-show="user">Reply</a>
                </div>
                <div class="reply-box" ng-show="replyTo == comment.id">
                    <textarea ng-model="comment.reply"></textarea>
                    <button ng-click="submitReply(comment)" ng-disabled="!comment.reply">Submit</button>
                </div>
            </div>
            <div class="comment-replies clearfix" ng-repeat="reply in comment.replies">
                <div class="user-image">
                    <div class="avatar avatar-circle" ng-class="{'avatar-hide-image': !reply.profile_image }"style="float:left;margin-right:10px;">
                        <img class="avatar-image" ng-src="{{ reply.profile_image }}" width="50" height="50">
                        <span class="avatar-initials">{{ reply.author | firstCharacter }}</span>
                    </div>
                </div>
                <div class="comment-info reply">
                    <strong><a href="/profile/{{ reply.user }}">{{ reply.display_name }}</a></strong> <span style="color:#666">{{ reply.date_posted | date: 'short' }}</span><br />
                    {{ reply.comment }}
                </div>
            </div>

        </div>
    </div>
</div>
