<div class='modal-header'>
    <div>Sign In</div>
</div>
<div ng-switch on="authSection">
    <div id="passwordReset_view" ng-controller="PasswordresetCtrl" ng-switch-when="forgotPassword" class="modal-body clearfix auth">
        <div ng-if="complete == false">
            <form role="form" class="standard_login" ng-if="authenticated != true" name="passwordResetForm" ng-submit="resetPassword(passwordResetForm)" novalidate>
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input name="email" id="id_email" type="text" ng-model="model.email" placeholder="Email" class="form-control" required />
                </div>
                <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
                <button ng-hide="authenticated" type="submit">Reset Password</button>
            </form>
            <p ng-if="authenticated">You are already logged in!  You don't need to reset your password.</p>
        </div>
        <div ng-if="complete == true">
            <div class="alert alert-success">You should receive an email shortly with instructions on how to reset your account password.</div>
        </div>
    </div>

    <div class='modal-body clearfix auth' ng-controller="LoginCtrl" ng-switch-when="login">
        <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate class="standard_login">
            <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username or email" class="form-control" required />
            <br />
            <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
            <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control" required /><br />
            <a href="#" ng-click="forgotPassword()" style="color:#e74c50">Forgot your password?</a><br /><br />
            <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
            <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
            <div class="alert alert-danger" ng-if="error">{{error}}</div>
            <button id="sign-in-button" type="submit">Sign In</button>
        </form>
        <div class="social_login">
            <h3>OR</h3>
            <a href="#" ng-click="loginBK('facebook')"><img src="/static/js/images/login_fb.png" /></a><br />
            <!--<img src="/static/js/images/login_twitter.png" />-->
        </div>

    </div>
    </div>

