<div class='modal-header'>
    <div>Upload a Video</div>
</div>
<div class='modal-body'>
    <label>URL</label><br />
    <input class="form-control" type="text" ng-model="newPost.url" ng-change="parseVideoUrl(newPost.url)" />
    <br /><br />
    <label>Title</label><br />
    <input class="form-control" type="text" maxlength="52" ng-model="newPost.title" />
    <br /><br />
    <div ng-hide="editing">

    <label>Categories</label>
        <ul>
            <li class="col-xs-6" class="modal-category" ng-repeat="category in categories | orderBy: ordering_index">
                <input name="category" type="checkbox" checklist-value="category" checklist-model="newPost.category" /> {{ category.name }}
            </li>
        </ul>
    </div>
    <div id="postSubmitContainer">
        <button ng-hide="editing" ng-click="submitNewPost()">Submit</button>
        <button ng-show="editing" ng-click="editPost()">Done</button>
    </div>

</div>
