<div class="content col-xs-12 col-sm-10 col-sm-offset-2 ng-cloak">
    <div class="day">
        <div id="author-title">{{  profile_user }}'s posts</div>
        <div class="post postContainer" ng-repeat="p in posts | orderBy:'get_num_votes':true">
            <div class="video-thumbnail" ng-click="viewVideo(p.url)">
                <img src="/static/js/images/play.svg" class="play" />
                <img ng-src="{{ p.thumbnail }}" class="thumb" /><br />
            </div>
            <div class="video-detail">
                <div class="post-title">
                    <h3><a href="#" ng-click="viewVideo(p.url)">{{ p.post_title }}</a></h3>
                    <div class="author">
                        Uploaded by
                        <a href="/profile/{{ p.author.id }}/{{ p.author.username }}">{{ getAuthorDisplay(p.author) }}</a>
                    </div>
                    <div class="categories">
                        <div ng-repeat="category in p.categories" class="category">
                            <a href='/category/{{ category.id }}/{{ category.slug }}'>{{ category.name }}</a>
                        </div>
                    </div>
                <!-- END POST TITLE -->
                </div>
            <a href="/profile/{{ p.author.id }}/{{ p.author.username }}" class="avatar avatar-circle" ng-class="{'avatar-hide-image': !p.author.profile_image }">
                    <img class="avatar-image" ng-src="{{ p.author.profile_image }}" width="50" height="50">
                    <span class="avatar-initials">{{ getAuthorDisplay(p.author) | firstCharacter }}</span>
                </a>
                <!-- SOCIAL ICONS -->
                <a href="https://www.facebook.com/dialog/feed?app_id=1515697715348428&display=popup&link=http://roket.tv/posts/{{ p.id }}&redirect_uri=http://roket.tv" target="_blank" class="social-icon">
                    <img src="http://zacktanner.me/clients/krave/facebook.svg" />
                </a>
                <a href="https://twitter.com/share?url=http://roket.tv/posts/{{ p.id }}" target="_blank" class="social-icon">
                    <img src="http://zacktanner.me/clients/krave/twitter.svg" />
                </a>
                <!-- END SOCIAL ICONS -->
                <!-- COMMENT -->
                <div class="comments">
                    <a href="/posts/{{ p.id }}">
                        <i class="fa fa-comment-o"></i>
                        {{ p.get_num_replies }}
                    </a>
                <!-- END COMMENT -->
                </div>
            <!-- END VIDEO DETAIL -->
            </div>
            <div class="votes" ng-click="vote(p)" ng-class="{ 'voted': hasVoted(p) || p.hasVoted }">
                <span ng-hide="hasVoted(p) || p.hasVoted" style="margin-left: 3px;">&#x25B2;</span>
                <span ng-show="hasVoted(p) || p.hasVoted" style="margin-left: 3px;"><i class="fa fa-check"></i></span>
                <br />
                <div class="vote" ng-bind="p.get_num_votes">0</div>
            </div>
        </div>
    </div>
</div>
